<div class="col-md-3 col-sm-6">
  <div class="product">
      <div class="image">
          <a href="#">
            <%= product_image product %>
          </a>
      </div>
      <div class="content">
          <h3 class="title"><a href="#"><%= product.name %></a></h3>
          <div class="price"><%= number_to_currency product.price %></div>
      </div>
      <ul class="action">
          <li><a href="" data-tip="Quick view"><i class="fa fa-search"></i></a></li>
          <li>
            <%= form_tag(carts_path, method: :post) do %>
              <%= hidden_field_tag(:product_id, product.id) %>
              <%= hidden_field_tag(:quantity, 1) %>
              <%= button_tag(type: "submit", class: "btn btn-danger") do %>
                <i class="fa fa-shopping-cart" ><%= t "home.cart" %></i>
              <% end %>
            <% end %>
          </li>
      </ul>
  </div>
</div>
