<div class="col-md-3 col-sm-6 grid">
  <div class="product">
      <div class="image">
        <%= product_image product %>
      </div>
      <div class="content">
          <h3 class="title"><a href="#"><%= product.name %></a></h3>
          <div class="price"><%= number_to_currency product.price %></div>
      </div>
      <ul class="action">
          <li>
            <%= link_to product, class: "btn btn-primary" do %>
              <%= t "home.view" %>
            <% end %>
          </li>
          <li>
            <%= form_tag(carts_path, method: :post) do %>
              <%= hidden_field_tag(:product_id, product.id) %>
              <%= hidden_field_tag(:quantity, 1) %>
              <%= button_tag(type: "submit", class: "btn btn-danger") do %>
                <i class="fa fa-shopping-cart" ></i>
              <% end %>
            <% end %>
          </li>
      </ul>
  </div>
</div>
